<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180915456762-pd4kkco2qq7avtd5nm3j2g84ld3ul53q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180915456762-pd4kkco2qq7avtd5nm3j2g84ld3ul53q</string>
	<key>API_KEY</key>
	<string>AIzaSyAL8P6-KLTaF-RtxpEGypbTVmztrLqTzXg</string>
	<key>GCM_SENDER_ID</key>
	<string>180915456762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ytprojects.fluttermentor.flutterMentorQuizAppTut</string>
	<key>PROJECT_ID</key>
	<string>quiz-d40c8</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-d40c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180915456762:ios:ff11c56a6e9f758bbbd743</string>
</dict>
</plist>